# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cndv\IdeaProjects\IFTM\5º Período\Projeto e Desenvolvimento de Software 2\login\create-login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
